# Main application framework
PyQt6
PyQt6-Qt6
PyQt6-sip

# For video feed processing
numpy
opencv-python

# For colored console output
colorama

# For network communication
websockets

# For environment variables
python-dotenv 